h1, h2, h3, h4 {
  font-family: 'Poppins';
  font-weight: 700;
}

p {
  font-family: 'Libre Franklin';
  font-weight: 400;
}

ul,
link , li ,a {
  text-decoration: none;
  list-style-type: none;
}

.conteiner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  padding: 13px 0 38px;
}
.nav__li{
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6C6C6C;
}
.nav__li:not(:last-of-type){
  margin-right: 40px;
}
.nav__li:nth-child(4){
  padding-right: 19px;
  border-right: 1px solid #EBEBEB;
  margin-right: 20px;
}
.nav__li:hover{
  color: #AC1313;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__icon{
  margin-right: 6px;
}
.introduce{
  padding: 128px 0 136px;
  background-image: url(../img/introduce/introduce__bckg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.content{
  max-width: 512px;
  position: relative;
}
.introduce .content::after{
  content: url(../img/introduce/after.svg);
  position: absolute;
  top: 22px;
  right: 12px;
}
.pretitle{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #000000;
}
.red{
  color: #D77474;
}
.title{
  width: 500px;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 14px;
}
.text{
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
  margin-bottom: 51px;
}
.button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  box-sizing: border-box;
  width: 201px;
  height: 62px;
  border: none;
  color:#fff ;
  background: #AC1313;
  border-radius: 0px;
}
.product{
  padding: 120px 0 150px;
  border-bottom: 1px solid #EBEBEB;
}
.product > .conteiner > .content{
  text-align: center;
  margin: 0 auto 63px;
}
.product > .conteiner > .content > .pretitle{
  margin-bottom: 40px;
}
.product__span{
  margin-bottom: 10px;
}
.product ul{
  width: 100%;
}
.product-flex{
  justify-content: space-evenly;
  margin-bottom: 90px;
}
.product__li{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 240px;
}
.center-column{
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.product__li:nth-child(1){
  background: #E4B366;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.product__li:nth-child(2){
  background: #F05B10;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.product__li:nth-child(3){
  background: #A21010;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.product__info .title{
  max-width: 267px;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  margin-bottom: 26px;
}
.product__info .text{
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
}
.gold{
  padding: 77px 0 48px;
  border-bottom: 1px solid #EBEBEB;
}
.gold .title{
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 23px;
}
.gold .text{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 27px;
}
.gold a{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.wrapper:nth-child(2){
  margin-top: -30px;
}
.galery{
  padding: 121px 0;
}
.galery .content{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 63px;
}
.galery .pretittle{
  margin-bottom: 17px;
}
.galery__wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 61px;
}
.galery__wrapper .text{
  margin-bottom: 10px;
}
.galery__wrapper li{
  padding-bottom: 17px;
  border-bottom: 1px solid #DBDBDB;
}
.price{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.galery__btn{
  max-width: 214px;
  margin: 0 auto;
}
.pottery{
  background-image: url(../img/pottery/pottery__bckg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 121px 0 120px;
}
.pottery .pretitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 7px;
}
.pottery .title{
  font-size: 36px;
  line-height: 46px;
}
.pottery .text{
  font-weight: 700;
  margin-bottom: 30px;
}
.text span{
  color: #AC1313;
  text-decoration: underline;
}
.forma{
  padding: 122px 0 162px;
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
}
.forma .content{
  margin: 0 auto;
  margin-bottom: 63px;
}
.forma__img{
  margin-bottom: 40px;
}
.forma .pretitle{
  color: #D77474;
  margin-bottom: 8px;
}
.forma .title{
  min-width: 572px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.form .flex{
  justify-content: center;
  column-gap: 4px;
  margin-bottom: 42px;
}
.form__input{
  box-sizing: border-box;
  width: 320px;
  height: 45px;
  padding: 13px 0 12px 25px;
  border: 1px solid #EBEBEB;
  border-radius: 0px;
}
.form__btn{
  width: 175px;
  height: 45px;
  background: #000000;
  border-radius: 0px;
  border: none;
  color: #fff;
}
.form__lable{
  max-width: 170px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A1A1A1;
}
.checkbox{
  opacity: 0;
}
.fake{
  top: 1px;
  right: 6px;
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #A1A1A1;
  margin-left: 10px;
}
.fake::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #8534FF;
  opacity: 0;
}
.checkbox:checked~.fake::before {
  opacity: 1;
}
.footer{
  padding: 107px 0 0;
  text-align: center;
}
.conteiner > img{
  margin-bottom: 30px;
}
.footer .text{
  margin: 0 auto;
  max-width: 340px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 70px;
}
.footer ul{
  margin-bottom: 90px;
}
.footer__icon{
  margin-bottom: 10px;
}
.footer_text{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}
.footer__li .text{
  max-width: 188px;
}
.template{
  padding: 33px 0 30px;
  background: rgba(219, 219, 219, 0.1);
  border-top: 1px solid rgba(235, 235, 235,.5);
}
.template__text{
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #6C6C6C;
}
.template__text a{
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.title img{
  padding-bottom: 10px;
}
.product .conteiner{
  position: relative;
}
.product .conteiner::before{
  content: "Hand Craft Pottery";
  position: absolute;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  top: 25%;
  left: -50px;
}
.galery .conteiner{
  position: relative;
}
.galery .conteiner::before{
  content: "Product Collections";
  position: absolute;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  top: 38%;
  left: -50px;
}
.gold .conteiner{
  position: relative;
}
.gold .conteiner::after{
  content: "Featured Products";
  position: absolute;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  top: 30%;
  right: -50px;
}
.forma .conteiner{
  position: relative;
}
.forma .conteiner::after{
  content: "Let's Get In touch";
  position: absolute;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #DBDBDB;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  top: 30%;
  right: -50px;
}
.modal__overlay{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color:rgba(205, 201, 201,.5);
}
.modal{
  padding: 50px;
  max-width: 420px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50% ,-50%);
  border-radius: 8px;
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}